services:
    payment-nginx:
        container_name: payment-nginx
        image: nginx:alpine
        restart: unless-stopped
        ports:
            - "80:80"
            - "443:443"
        logging:
            driver: "json-file"
            options:
                max-size: "10m"
                max-file: "3"
        volumes:
            - ../../api:/var/www/html
            - ./nginx/${NGINX_CONF_FILE:-local.conf}:/etc/nginx/conf.d/default.conf
        command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
        networks:
            - payment-api-main

    app:
        container_name: payment-api
        build:
            context: ../..
            dockerfile: infra/docker/php/Dockerfile.local
            args:
                USER_ID: ${USER_ID:-1000}
                GROUP_ID: ${GROUP_ID:-1000}
        image: "${APP_IMAGE:-payment-api:local}"
        restart: unless-stopped
        environment:
            DB_CONNECTION: ${DB_CONNECTION}
            DB_HOST: ${DB_HOST}
            DB_DATABASE: ${DB_DATABASE}
            DB_USERNAME: ${DB_USERNAME}
            DB_PASSWORD: ${DB_PASSWORD}
            DB_DADOS_CONNECTION: ${DB_DADOS_CONNECTION}
            DB_DADOS_HOST: ${DB_DADOS_HOST}
            DB_DADOS_DATABASE: ${DB_DADOS_DATABASE}
            DB_DADOS_USERNAME: ${DB_DADOS_USERNAME}
            DB_DADOS_PASSWORD: ${DB_DADOS_PASSWORD}
            REDIS_HOST: ${REDIS_HOST}
            REDIS_PORT: ${REDIS_PORT}
        working_dir: /var/www/html
        logging:
            driver: "json-file"
            options:
                max-size: "10m"
                max-file: "3"
        volumes:
            - ../../api/:/var/www/html
            - ../../api/.env:/var/www/html/.env
            - ./php/${INI_FILE:-local.ini}:/usr/local/etc/php/conf.d/local.ini
            - ./php/www.conf:/usr/local/etc/php-fpm.d/www.conf
        networks:
            - payment-api-main
            - payment-api-cache

    queue:
        container_name: payment-queue
        build:
            context: ../..
            dockerfile: infra/docker/php/Dockerfile.queue
            args:
                USER_ID: ${USER_ID:-1000}
                GROUP_ID: ${GROUP_ID:-1000}
        image: "${QUEUE_IMAGE:-payment-queue:local}"
        restart: unless-stopped
        env_file:
            - .env
        environment:
            DB_CONNECTION: ${DB_CONNECTION}
            DB_HOST: ${DB_HOST}
            DB_DATABASE: ${DB_DATABASE}
            DB_USERNAME: ${DB_USERNAME}
            DB_PASSWORD: ${DB_PASSWORD}
            DB_DADOS_CONNECTION: ${DB_DADOS_CONNECTION}
            DB_DADOS_HOST: ${DB_DADOS_HOST}
            DB_DADOS_DATABASE: ${DB_DADOS_DATABASE}
            DB_DADOS_USERNAME: ${DB_DADOS_USERNAME}
            DB_DADOS_PASSWORD: ${DB_DADOS_PASSWORD}
            REDIS_HOST: ${REDIS_HOST}
            REDIS_PORT: ${REDIS_PORT}
        working_dir: /var/www/html
        logging:
            driver: "json-file"
            options:
                max-size: "10m"
                max-file: "3"
        volumes:
            - ../../api/:/var/www/html
            - ./supervisor/supervisor.conf:/etc/supervisor/conf.d/supervisor.conf
            - ./php/${INI_FILE:-local.ini}:/usr/local/etc/php/conf.d/local.ini
        networks:
            - payment-api-main
            - payment-api-cache

networks:
    payment-api-main:
        external: true
    payment-api-cache:
        external: true
    payment-api-monitoring:
        external: true