services:
    payment-mysql:
        container_name: payment-mysql
        image: mysql:8.0
        restart: unless-stopped
        ports:
            - "3307:3306"
        environment:
            MYSQL_ROOT_PASSWORD: payment_root_password
            MYSQL_DATABASE: payment_db
            MYSQL_USER: payment_user
            MYSQL_PASSWORD: payment_password
        volumes:
            - mysql_data:/var/lib/mysql
            - ./my.cnf:/etc/mysql/conf.d/my.cnf
        logging:
            driver: "json-file"
            options:
                max-size: "10m"
                max-file: "3"
        networks:
            - payment_network
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
            interval: 10s
            timeout: 5s
            retries: 3
        command: --default-authentication-plugin=mysql_native_password

volumes:
    mysql_data:
        name: 'mysql_data'

networks:
    payment_network:
        external: true